<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Songs</title>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>
    <table style="width:100%">
    <h2><caption>Song List</caption></h2>
        <tr>
               <th><h2>Song Name</h2></th>
                <th><h2>Artist Name</h2></th>
</tr>

        <tr>
            {% for songs in songs_list %}

               <th><h2><a href="songdetails/{{ songs.song_id }}">{{ songs.song_name}} </a></h2></th>
                <th><h2>{{ songs.artist_name }}</h2></th>
</tr>
{% endfor %}
</table>
</body>
</html>